.home_passageiro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.home_passageiro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 60px 100px;
  max-width: 50vw;
  max-height: 90vh;
}

.home_passageiro__ride {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.home_passageiro__form {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.home_passageiro__corrida_list {
  overflow-y: scroll;
}

.home_passageiro__corrida {
  background-color: #eeeeee;
  padding: 5px;
  border: 1px solid;
  border-color: black;
}
